/* CSS da página única da aplicação */

.navbar-default {
    background-color: #125775;
    border-color: #E7E7E7;
}

.navbar-default .navbar-brand {
    color: #cccccc;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

header {
    color: black;
    font-family: "Verdana", Arial, sans-serif;
}

div.jumbotron {
    padding-top: 120px;
    padding-bottom: 100px;
}

input, select {
    margin-bottom: 10px;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #d4d4d4;
    text-align: center;
}

