/* CSS da página única da aplicação */

h3 {
    color: #787878;
}

h4 {
    color: #aaaaaa;
}

header {
    color: black;
    font-family: "Verdana", Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.bodytitle {
    padding-bottom: 20px;
}

div.bodytitle div {
    margin-top: 50px;
    min-height: 1px;
    background-color: #d4d4d4;
}

#buttonsline {
    margin-top: 50px;
    margin-bottom: 30px;
    min-height: 1px;
    background-color: #d4d4d4;
}

#topline {
    min-height: 5px;
    background-color: #0008ff;
}

#botline {
    min-height: 1px;
    background-color: #d4d4d4;
    margin-bottom: 10px;
}

input, select {
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #d4d4d4;
    text-align: center;
}

