header {
    padding: 20px;
    color: black;
    background-color: #668cff;
    font-family: "Verdana", Arial, sans-serif;
    /* border-radius: 10px; */
}

#formdiv {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #d4d4d4;
    text-align: center;
}

